swagger: '2.0'
info:
  version: '1.0'
  title: Personnel Data
  description: 'API for reading and writing personnel data incl. data about attendances and absences'
host: api.personio.de
basePath: /v1
securityDefinitions:
  auth:
    type: apiKey
    name: Authorization
    in: header
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/company/employees':
    get:
      description: 'List Employees'
      produces:
        - application/json
      parameters:
        - name: query
          in: query
          required: false
          type: string
          description: >-
            [In development] Query string to perform search on. Returns all employees if not
            present. Can also be used with custom attributes, e.g.
            `dynamic_9382=abcd`
        - name: attributes
          in: query
          required: false
          type: array
          items: {}
          description: >-
            [In development] Attributes to be returend for employees found. Returns all available
            attributes if not present. Pass `attributes` multiple times of
            needed.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EmployeesResponse'
          examples:
            application/json:
              success: true
              data:
                - type: Employee
                  attributes:
                    id: 
                      label: id
                      value: 83752
                    first_name:
                      label: First name
                      value: Andreas
                    last_name:
                      label: Last name
                      value: Anderson
                    email:
                      label: Email
                      value: andreas.anderson@demo.com
                    gender:
                      label: Gender
                      value: male
                    status:
                      label: Status
                      value: active
                    position:
                      label: Position
                      value: Online Marketing Specialist
                    employment_type:
                      label: Employment type
                      value: internal
                    weekly_working_hours:
                      label: Weekly hours
                      value: '40'
                    hire_date:
                      label: Hire date
                      value: '2012-02-01T00:00:00+0100'
                    contract_end_date:
                      label: Contract ends
                      value: 
                    termination_date:
                      label: Termination date
                      value: 
                    termination_type:
                      label: Termination type
                      value: ''
                    termination_reason:
                      label: Termination reason
                      value: ''
                    probation_period_end:
                      label: Probation period end
                      value: '2012-07-31T00:00:00+0200'
                    created_at:
                      label: created_at
                      value: '2016-10-20T16:15:55+0200'
                    office:
                      label: Office
                      value:
                        type: Office
                        attributes:
                          name: Munich
                    department:
                      label: Department
                      value:
                        type: Department
                        attributes:
                          name: Marketing
                    cost_centers:
                      label: Cost center
                      value:
                      - type: CostCenter
                        attributes:
                          name: Cost Center One
                          id: 320
                          percentage: 50
                      - type: CostCenter
                        attributes:
                          name: Cost Center Two
                          id: 321
                          percentage: 50
                    fix_salary:
                      label: Fix salary
                      value: 4000
                    hourly_salary:
                      label: Hourly salary
                      value: 0
                    vacation_day_balance:
                      label: Vacation day balance
                      value: 28.5
                    dynamic_24407:
                      label: Titel
                      value: Dr
                    dynamic_21827:
                      label: IBAN
                      value: DE98 8989 9898 0000 8989 00
  '/company/attendance-periods':
    get:
      description: 'List Attendance Periods'
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AttendancePeriodsResponse'
          examples:
            application/json:
              success: true
              data:
              - type: AttendancePeriod
                attributes:
                  id: 325659
                  start_time: '2017-01-17T10:00:00+0100'
                  end_time: '2017-01-17T18:00:00+0100'
                  break: 35
                  comment: I was productive as hell
                  status: confirmed
                  employee:
                    type: Employee
                    attributes:
                      id: 325659
                      first_name:
                        label: First name
                        value: Michael
                      last_name:
                        label: Last name
                        value: Miller
                      email:
                        label: Email
                        value: michael.miller@demo.com
                  updated_at: '2017-01-17T10:32:18+0100'
                  created_at: '2017-01-17T10:32:18+0100'
  '/company/employees/{employee_id}/attendance-periods':
    post:
      description: 'Create new attendance period'
      produces:
        - application/json
      parameters:
        - name: employee_id
          in: path
          required: true
          type: number
          format: double
          description: Numeric `id` of the User to perform action with.
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/NewAttendancePeriodRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/NewAttendancePeriodResponse'
          examples:
             application/json:
              success: true
              data:
                type: AttendancePeriod
                attributes:
                  id: 325659
                  start_time: '2017-01-17T10:00:00+0100'
                  end_time: '2017-01-17T18:00:00+0100'
                  break: 35
                  comment: I was productive as hell
                  status: confirmed
                  employee:
                    type: Employee
                    attributes:
                      id: 325659
                      first_name:
                        label: First name
                        value: Michael
                      last_name:
                        label: Last name
                        value: Miller
                      email:
                        label: Email
                        value: michael.miller@demo.com
                  updated_at: '2017-01-17T10:32:18+0100'
                  created_at: '2017-01-17T10:32:18+0100'
  '/company/time-offs':
    get:
      description: 'List All Absence Periods'
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AbsencePeriodsResponse'
          examples:
            application/json:
              success: true
              data:
              - type: TimeOffPeriod
                attributes:
                  status: approved
                  start_date: '2017-12-27T00:00:00+0100'
                  end_date: '2017-12-29T00:00:00+0100'
                  days_count: 3
                  half_day_start: 0
                  half_day_end: 0
                  time_off_type:
                    type: TimeOffType
                    attributes:
                      name: Vacation
                  employee:
                    type: Employee
                    attributes:
                      first_name:
                        label: First name
                        value: Michael
                      last_name:
                        label: Last name
                        value: Miller
                      email:
                        label: Email
                        value: michael.miller@demo.com
                  certificate:
                    status: not-required
                  created_at: '2017-01-17T10:32:18+0100'
definitions:
  Response:
    title: Default response object
    type: object
    properties:
      success:
        type: boolean
      data:
        type: object
    required:
      - success
      - data
  Attribute:
    type: object
    properties:
      label:
        type: string
      value:
        type: object
    required:
      - label
      - value
  Office:
    type: object
    allOf:
      - $ref: '#/definitions/Attribute'
    properties:
      value:
        type: object
        properties:
          'type': 
            type: string
          attributes:
            type: array
            items:
              type: object
              properties:
                name: 
                  type: string
  Department:
    type: object
    allOf:
      - $ref: '#/definitions/Attribute'
    properties:
      value:
        type: object
        properties:
          'type': 
            type: string
          attributes:
            type: array
            items:
              type: object
              properties:
                name: 
                  type: string
  CostCenters:
    type: object
    allOf:
      - $ref: '#/definitions/Attribute'
    properties:
      value:
        type: array
        items:
          type: object
          properties:
            'type': 
              type: string
            attributes:
              type: array
              items:
                type: object
                properties:
                  name: 
                    type: string
                  id:
                    type: number
                  percentage: 
                    type: number
  EmployeesResponse:
    title: List of Employees
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            type: object
            required:
              - type
              - attributes
            properties:
              'type':
                type: string
              attributes:
                type: array
                items: 
                  type: object
                  properties:
                    id:
                      $ref: '#/definitions/Attribute'
                    first_name:
                      $ref: '#/definitions/Attribute'
                    last_name:
                      $ref: '#/definitions/Attribute'
                    email:
                      $ref: '#/definitions/Attribute'
                    gender:
                      $ref: '#/definitions/Attribute'
                    status:
                      $ref: '#/definitions/Attribute'
                    position:
                      $ref: '#/definitions/Attribute'
                    employment_type:
                      $ref: '#/definitions/Attribute'
                    weekly_working_hours:
                      $ref: '#/definitions/Attribute'
                    hire_date:
                      $ref: '#/definitions/Attribute'
                    contract_end_date:
                      $ref: '#/definitions/Attribute'
                    termination_date:
                      $ref: '#/definitions/Attribute'
                    termination_type:
                      $ref: '#/definitions/Attribute'
                    termination_reason:
                      $ref: '#/definitions/Attribute'
                    probation_period_end:
                      $ref: '#/definitions/Attribute'
                    created_at:
                      $ref: '#/definitions/Attribute'
                    fix_salary:
                      $ref: '#/definitions/Attribute'
                    hourly_salary:
                      $ref: '#/definitions/Attribute'
                    vacation_day_balance:
                      $ref: '#/definitions/Attribute'
                    office:
                      $ref: '#/definitions/Office'
                    department:
                      $ref: '#/definitions/Department'
                    cost_centers:
                      $ref: '#/definitions/CostCenters'
  AttendancePeriodsResponse:
    type: object
  NewAttendancePeriodRequest:
    title: Create a New Attendance Period request
    type: object
    properties:
      start_time:
        type: string
      end_time:
        type: string
      break:
        type: integer
        format: int32
      comment:
        type: string
    required:
      - start_time
      - end_time
      - break
      - comment
    example:
      start_time: '2017-01-17T10:00:00+0100'
      end_time: '2017-01-17T18:00:00+0100'
      break: 35
      comment: I was productive as hell
  NewAttendancePeriodResponse:
    type: object
  AbsencePeriodsResponse:
    title: List All Absence Periods response
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            type: object
            required:
              - type
              - attributes
            properties:
              'type':
                type: string
              attributes:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                    start_date: 
                      type: string
                    end_date:
                      type: string
                    days_count: 
                      type: number
                    half_day_start:
                      type: number
                    half_day_end:
                      type: number
                    time_off_type:
                      type: object
                      properties:
                        type: 
                          type: string
                        attributes:
                          type: array
                          items:
                            type: object
                            properties:
                              name: 
                                type: string
                    employee: 
                      type: object
                      properties:
                        type: 
                          type: string
                        attributes:
                          type: array
                          items:
                            type: object
                            properties:
                              first_name: 
                                type: string
                              last_name: 
                                type: string
                              email: 
                                type: string
                    certificate:
                      type: object
                      properties:
                        status:
                          type: string
                    created_at:
                      type: string
      
    